In [19]:
import pandas as pd

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
df = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/UTP_MinTIC/archivo.csv')
df

  Nombre  Apellido  Edad       Ciudad
0   Juan  Martinez    28         Cali
1    Ana  Cantillo    50  Bucaramanga
2   Luis   Marenco    45      Pereira
3  Pedro     Perez    60         Buga
4   Jose   Sanchez    16       Bogota

In [22]:
df.columns

Index(['Nombre', 'Apellido', 'Edad', 'Ciudad'], dtype='object')

In [23]:
diccionario = {'Nombres': ['Ana', 'Pedro', 'Juan'],
'Apellidos':['Cantillo', 'Charris', 'Juan'],
'edad':[20,50,18]}
diccionario

{'Apellidos': ['Cantillo', 'Charris', 'Juan'],
 'Nombres': ['Ana', 'Pedro', 'Juan'],
 'edad': [20, 50, 18]}

In [24]:
df2 = pd.DataFrame(diccionario)
df2

  Nombres Apellidos  edad
0     Ana  Cantillo    20
1   Pedro   Charris    50
2    Juan      Juan    18

In [25]:
df2.to_csv('/content/drive/MyDrive/Colab_Notebooks/UTP_MinTIC/archivo_a_csv.csv')

La barrita `'|'` se llama `pipe`

In [26]:
df2.to_csv('/content/drive/MyDrive/Colab_Notebooks/UTP_MinTIC/archivo_a_csv.csv', sep='|')

In [28]:
df2.to_excel('/content/drive/MyDrive/Colab_Notebooks/UTP_MinTIC/archivo_a_excel.xlsx')

In [34]:
df = pd.DataFrame(diccionario, index=['Cliente1', 'Client2','Client3'])
df

         Nombres Apellidos  edad
Cliente1     Ana  Cantillo    20
Client2    Pedro   Charris    50
Client3     Juan      Juan    18

In [32]:
df2.to_excel('/content/drive/MyDrive/Colab_Notebooks/UTP_MinTIC/archivo_a_excel.xlsx', sheet_name='Clientes')

# Ejercicio  "Casos Covid19"

In [36]:
covid = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/UTP_MinTIC/Casos_positivos_de_COVID-19_en_ColombiaDiezMil.csv')
covid

      ID de caso  ... ubicación recuperado
0              1  ...                 Casa
1              2  ...                 Casa
2              3  ...                 Casa
3              4  ...                 Casa
4              5  ...                 Casa
...          ...  ...                  ...
9955        9996  ...                 Casa
9956        9997  ...            Fallecido
9957        9998  ...                 Casa
9958        9999  ...                 Casa
9959       10000  ...                 Casa

[9960 rows x 22 columns]