In [2]:
import pandas as pd

# Series

In [8]:
frutas  = pd.Series([4,5,6,3],index=['Juan', 'Pedro', 'Ana', 'Sofía'])
frutas

Juan     4
Pedro    5
Ana      6
Sofía    3
dtype: int64

In [9]:
frutas[0]

4

In [10]:
frutas['Juan']

4

In [11]:
frutas.values

array([4, 5, 6, 3])

In [13]:
frutas.index

Index(['Juan', 'Pedro', 'Ana', 'Sofía'], dtype='object')

In [15]:
frutas.name = "Ventas Frutas"
frutas.index.name = "Clientes"
frutas

Clientes
Juan     4
Pedro    5
Ana      6
Sofía    3
Name: Ventas Frutas, dtype: int64

# DataFrames

In [16]:
datos = {'manzanas':[4,5,3,2], 'peras':[5,6,7,8]}
datos

{'manzanas': [4, 5, 3, 2], 'peras': [5, 6, 7, 8]}

In [17]:
fruti = pd.DataFrame(datos)
fruti

   manzanas  peras
0         4      5
1         5      6
2         3      7
3         2      8

In [18]:
fruti = pd.DataFrame(datos, index=['Juan', 'Pedro', 'Ana', 'Sofía'])
fruti

       manzanas  peras
Juan          4      5
Pedro         5      6
Ana           3      7
Sofía         2      8

In [22]:
fruti.index

Index(['Juan', 'Pedro', 'Ana', 'Sofía'], dtype='object')

In [21]:
fruti.columns

Index(['manzanas', 'peras'], dtype='object')